server {
    set_by_lua $hostIP 'return os.getenv("IPADDRESS")';
    listen 443 http2 ssl;
    listen [::]:443 http2 ssl;

    server_name $hostIP;

    ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
    ssl_certificate_key /etc/ssl/private/nginx-selfsigned.key;
    ssl_dhparam /etc/ssl/certs/dhparam.pem;
}
